/* Container principal */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #555;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
  }
  .sidebar nav ul li:hover {
    background-color: var(--card-background);
    border-radius: 4px;
    padding-left: 10px;
    transition: all 0.3s ease;
  }
  
  /* Conteúdo principal */
  .mainContent {
    flex: 1;
    padding: 20px;
  }
  
  /* Barra superior */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .searchBar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Informações do usuário */
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .userInfo .icon {
    margin: 0 10px;
    font-size: 20px;
  }
  
  /* Grid de tarefas */
  .taskGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .taskCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.taskCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .taskHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .filter {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  
  .taskBody h3 {
    margin: 0;
  }
  
  .taskBody p {
    color: #555;
  }
  
  .taskStatus {
    color: green;
    align-self: flex-end;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .mainContent {
      padding: 10px;
    }
  
    .taskGrid {
      grid-template-columns: 1fr;
    }
  }